@font-face {
    font-family: 'UnB Pro_black';
    src: url('../fonts/UnB_Pro_v1.0/UnB Pro_Black.otf');
}

@font-face {
    font-family: 'UnB Pro_bold_italic';
    src: url('../fonts/UnB_Pro_v1.0/UnB\ Pro_Bold_Italic.otf');
}

@font-face {
    font-family: 'UnB Pro_bold';
    src: url('../fonts/UnB_Pro_v1.0/UnB\ Pro_Bold.otf');
}

@font-face {
    font-family: 'UnB Pro_italic';
    src: url('../fonts/UnB_Pro_v1.0/UnB\ Pro_Italic.otf');
}

@font-face {
    font-family: 'UnB Pro_light';
    src: url('../fonts/UnB_Pro_v1.0/UnB\ Pro_Light.otf');
}

@font-face {
    font-family: 'UnB Pro_regular';
    src: url('../fonts/UnB_Pro_v1.0/UnB\ Pro_Regular.otf');
}

hr.hr-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.features-card .single-features-card {
    position: relative;
}

.features-card .single-features-card .location-img {
    overflow: hidden;
    position: relative;
    z-index: 0
}

.features-card .single-features-card .location-img img {
    width: 100%;
    transform: scale(1);
    transition: all .5s ease-out 0s
}

.features-card .single-features-card .location-details {
    position: absolute;
    /* left: 45px;
    bottom: 53px; */
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.features-card .single-features-card h1 {
    position: absolute;
    text-align: center;
    position: absolute;
    bottom: 90%;
    left: 50%;
    font-family: 'UnB Pro_Bold';
    transform: translate(-50%, -50%);
    color: #ffF;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.features-card .single-features-card .location-details p {
    color: #fff;
    font-size: 34px;
    font-weight: 250;
    display: block;
    line-height: 44px;
    margin-bottom: 65px;
}

.features-card .single-features-card .location-details a.btn-purple {
    border: 2px solid #000;
    color: #000;
    font-weight: bold;
    font-family: 'Lato';
    background: #fccb00;
    color: #000;
    border-color: #fccb00;
    padding: 20px 50px;
    margin-top: 25px;
    border-radius: 0.4rem;
}

.features-card .single-features-card .location-details a.btn-purple:hover {
    background-color: #fccb00;
    color: white;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1199px) {
    .features-card .single-features-card .location-details {
        /* left: 32px;
        bottom: 30px */
        text-align: center;
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .features-card .single-features-card h1 {
        font-size: 29px;
        bottom: 88%;
    }
    .features-card .single-features-card .location-details p {
        font-size: 29px;
        line-height: 35px
    }
    .features-card .single-features-card .location-details a.btn-purple {
        padding: 8px 30px;
        margin-right: 15px;
        font-size: 25px;
    }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1023px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .features-card .single-features-card .location-details {
        /* left: 32px;
        bottom: 30px */
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .features-card .single-features-card h1 {
        font-size: 29px;
        bottom: 85%;
    }
    .features-card .single-features-card .location-details p {
        font-size: 29px;
        line-height: 35px
    }
    .features-card .single-features-card .location-details a.btn-purple {
        padding: 8px 30px;
        margin-right: 15px;
        font-size: 25px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .features-card .single-features-card .location-details {
        /* left: 32px;
        bottom: 30px */
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .features-card .single-features-card h1 {
        font-size: 29px;
        bottom: 85%;
    }
    .features-card .single-features-card .location-details p {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .features-card .single-features-card .location-details a.btn-purple {
        padding: 8px 30px;
        margin-right: 15px;
    }
}


/* potrait */

@media only screen and (min-device-width: 321px) and (max-device-width: 575px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .features-card .single-features-card .location-details {
        /* left: 32px;
        bottom: 30px */
        text-align: center;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .features-card .single-features-card h1 {
        font-size: 10px;
        bottom: 85%;
    }
    .features-card .single-features-card .location-details p {
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 8px;
        margin-top: 12px;
    }
    .features-card .single-features-card .location-details a.btn-purple {
        padding: 5px 9px;
        margin-right: 0px;
        font-size: 9px;
        border: 1, 5px solid #fff;
    }
}


/* landscape */

@media only screen and (min-device-width: 321px) and (max-device-width: 575px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .features-card .single-features-card .location-details {
        /* left: 32px;
        bottom: 30px */
        text-align: center;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .features-card .single-features-card h1 {
        font-size: 10px;
        bottom: 85%;
    }
    .features-card .single-features-card .location-details p {
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 1px;
        margin-top: 12px;
    }
    .features-card .single-features-card .location-details a.btn-purple {
        padding: 5px 9px;
        margin-right: 0px;
        font-size: 9px;
        border: 1, 5px solid #fff;
    }
}

@media only screen and (max-device-width: 575px) and (max-device-width: 320px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .features-card .single-features-card .location-details {
        /* left: 32px;
        bottom: 30px */
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .features-card .single-features-card h1 {
        font-size: 11px;
        bottom: 78%;
        margin-bottom: 10px;
    }
    .features-card .single-features-card .location-details p {
        font-size: 7.5px;
        line-height: 10px;
        margin-bottom: 5px;
    }
    .features-card .single-features-card .location-details a.btn-purple {
        padding: 4px 7px;
        margin-right: 0px;
        font-size: 9px;
        border: 1, 5px solid #fff;
    }
}

.single-features-card:hover .location-img img {
    transform: scale(1.1)
}

.pt-features {
    padding-top: 50px;
}

.mb-card {
    margin-bottom: 50px
}

.features-page {
    margin: 0 160px;
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    .features-page {
        margin: 0 15px
    }
    .pt-features {
        padding-top: 50px;
    }
    .mb-card {
        margin-bottom: 50px
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .features-page {
        margin: 0 0px
    }
    .pt-features {
        padding-top: 45px;
    }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
    .features-page {
        margin: 0 0px
    }
    .pt-features {
        padding-top: 35px;
    }
}

@media (max-device-width: 575px) {
    .features-page {
        margin: 0 0px
    }
    .pt-features {
        padding-top: 35px;
    }
    .mb-card {
        margin-bottom: 25px
    }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

.section-tittle p {
    color: #1D2547;
    font-size: 16px;
    font-weight: 400
}

.section-tittle p.pera {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    padding-top: 20px;
}

.section-tittle>span {
    color: #140C40;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 22px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.05em
}

@media (max-device-width: 575px) {
    .section-tittle>span {
        font-size: 14px;
        padding-left: 0px;
        text-align: left
    }
}

.section-tittle h2 {
    font-family: 'UnB Pro_Bold';
    font-size: 50px;
    color: #2d2a2a;
    display: block;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 54px;
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    .section-tittle h2 {
        font-size: 50px
    }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
    .section-tittle h2 {
        font-size: 50px
    }
}

@media (max-device-width: 575px) {
    .section-tittle h2 {
        font-size: 25px;
    }
}